//mozaika dalis
main {
    display: flex;
    flex-wrap: wrap;
  
    section {
      display: flex;
      width: 100%;
  
      article {
        width: 50%;
        height: 350px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
  
        div {
          width: 70%;
  
          p {
            font-size: 0.8em;
            @include paragraf();
          }
  
          h1 {
            margin-bottom: 10px;
            font-weight: lighter;
          }
        }
      }
    }
  
    .article-2 {
      background: url($img2);
      width: 50%;
      @include photo-cover;
    }
  
    .article-4 {
      background: url($img3);
      width: 50%;
      @include photo-cover;
    }
  
    .article-6 {
      background: url($img4);
      width: 50%;
      @include photo-cover;
    }
  
  }
  
  // jeigu bus prideti du article apsuks vietomis
  main section:nth-of-type(2n) {
    flex-direction: row-reverse;
  }