$bg-color: #F8F8F9;
$button-color:#0170FF;
$text-color:#adadb9;

$img1:"../images/bg-masthead.jpg";
$img2:"../images/bg-showcase-1.jpg";
$img3:"../images/bg-showcase-2.jpg";
$img4:"../images/bg-showcase-3.jpg";
